:host {
  margin: 100px 0;
  display: block;
}

.our-team {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  &__title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__card {
    margin: 10px;
  }
}
